// colors
$white: #fff;
$black: #000;
$yellow: #EEC536;
$darkblue: #37474F;

$hover: $yellow;

$text-color: $black;
$text-color-secondary: $white;

// font weights
$thin: 100;
$normal: 400;
$bold: 700;
