$rem-base: 16px;

// import Bourbon and Foundation mixins
$output-bourbon-deprecation-warnings: false;
@import "bourbon";
@import "foundation/functions";

// import project defaults
@import "defaults";

// import Foundation
@import "settings";
// @import "foundation/components/accordion";
// @import "foundation/components/alert-boxes";
@import "foundation/components/block-grid";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/button-groups";
// @import "foundation/components/buttons";
// @import "foundation/components/clearing";
// @import "foundation/components/dropdown";
// @import "foundation/components/dropdown-buttons";
// @import "foundation/components/flex-video";
// @import "foundation/components/forms";
@import "foundation/components/grid";
// @import "foundation/components/inline-lists";
// @import "foundation/components/joyride";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/magellan";
// @import "foundation/components/orbit";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/reveal";
// @import "foundation/components/side-nav";
// @import "foundation/components/split-buttons";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switches";
// @import "foundation/components/tables";
// @import "foundation/components/tabs";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/top-bar";
@import "foundation/components/type";
// @import "foundation/components/offcanvas";
@import "foundation/components/visibility";

// bourbon has to be included once again - @transition mixin conflict
@import "bourbon";

// vars
$xlarge: $xlarge-up;
$medium-down: "screen and (max-width: #{upper-bound($medium-range)})";
$large-down: "screen and (max-width: #{upper-bound($large-range)})";

// import project
@import "mixins";
@import "modifiers/*";
@import "components/*";

// page styles
html {-webkit-text-size-adjust: 100%;}
* {-webkit-tap-highlight-color: transparent;}
svg {max-height: 100%;}

a {@include transition(all .5s); color: inherit; outline: none;
	&:hover, &:focus, &:active {color: $hover;}
}

body {
	&:before {content: "small"; display: none;
		@media #{$medium} {content: "medium";}
		@media #{$large} {content: "large";}
		@media #{$xlarge} {content: "xlarge";}
	}
}