@import "bourbon";

.filters-bar {
	&.is-admin {display: none;}
	> .row {
		.filters {margin: 0; padding: 50px 0; list-style: none; @include display(flex); @include flex-wrap(wrap);
			@media screen and (min-width: 768px) {@include flex-wrap(nowrap);}
			li {padding: 10px 20px;
				@media screen and (min-width: 768px) {padding: 0 40px;}
				a {font-size: 16px; line-height: 1; color: #37474F; font-weight: 700; padding: 3px 15px; @include transition(all .3s ease);
					&.-active, &:hover {background-color: #EEC536;}
				}
			}
		}
	}
}

.cstudies {
	> .row {max-width: 1200px;
		.cstudies-grid {
			.grid-sizer {width: 100%; padding: 0 15px;
				@media screen and (min-width: 1024px) {width: 50%; padding: 0 15px;}
			}
			&__item {width: 100%; padding: 0 15px; margin-bottom: 90px;
				@media screen and (min-width: 1024px) {width: 50%; padding: 0 15px;}
				&.-hidden {display: none;}
				&--image {}
				&-content {padding: 30px;
					&--tags {margin: 0; margin-bottom: 10px;
						span {color: #c4c4c4; font-size: 14px; line-height: 1.25;
							&::after {content: " / ";}
							&:last-child {
								&::after {content: "";}
							}
						}
					}
					&--title {font-size: 18px; font-weight: 700; margin: 0; line-height: 1.5;}
					&--link {border-bottom: 4px solid #EEC536; font-size: 14px; margin-top: 20px; display: inline-block; font-weight: 700;}
				}
			}
		}
	}
}