h1 {font-size: 32px; line-height: 1.3; text-align: center; color: #2D3236; margin: 0; margin-bottom: 5px;
	@media #{$medium} {font-size: 40px;}
}
h2 {font-size: 32px; line-height: 1; text-align: center; color: #2D3236; margin: 0; margin-bottom: 25px;
	@media #{$medium} {font-size: 30px;}
}
.section-desc {font-size: 18px; line-height: 1.6; text-align: center; color: #2D3236; margin: 0; margin-bottom: 40px;
	@media #{$medium} {font-size: 20px;}
}